<a href="https://colab.research.google.com/github/lavou/ResearchMate/blob/main/1_0_Authors_Selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Select Doudna's most relevant co-authors based on the frequency of publications they have together.
---



---

#####**Mount, set path & install packages**
---

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Set the path to the directory containing the csv file
dir_path = '/content/drive/MyDrive/Pubmed_project/last_data'

### DELETE ####
# Set the name of the CSV file you want to load
#file_name = 'Doudna JA.csv'
# Load the CSV file into a DataFrame
#df = pd.read_csv(f"{data_path}/{file_name}")

In [ ]:
import os
import pandas as pd
from collections import Counter

#####**Select the co-authors with the highest frequency of collaboration.**
---

In [ ]:
# Read in the Doudna JA.csv file 
doudna_df = pd.read_csv(os.path.join(dir_path, 'Doudna JA.csv'))

In [ ]:
doudna_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 346 entries, 0 to 345
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         346 non-null    int64
 1   Paper ID           346 non-null    int64
 2   Authors            346 non-null    object
 3   Abstract           316 non-null    object
 4   Author's Order     346 non-null    int64
 5   Number of Authors  346 non-null    int64
 6   Keywords           55 non-null     object
 7   Title              346 non-null    object
dtypes: int64(4), object(4)
memory usage: 21.8+ KB

In [ ]:
# Extract the co-authors of Doudna JA from each row in the 'Authors' column
co_authors = []
for authors_list in doudna_df['Authors']:
    for author in authors_list.strip('[]').replace("'", "").split(', '):
        co_authors.append(author)

# Count the frequency of each co-author in the list of co-authors
co_author_counts = Counter(co_authors)

# Sort the co-authors by their frequency counts and select the top 100
top_co_authors = co_author_counts.most_common(100)

# Create a list of the names of the top co-authors
most_frequent_co_authors = [co_author[0] for co_author in top_co_authors]

print(most_frequent_co_authors)

['Doudna JA', 'Zhou K', 'Knott GJ', 'Nogales E', 'Ma E', 'Sternberg SH', 'Banfield JF', 'Jinek M', 'Harrington LB', 'Cate JH', 'Al-Shayeb B', 'Chen JS', 'Fellmann C', 'Ciling A', 'Savage DF', 'Staahl BT', 'Wiedenheft B', 'Taylor DW', 'Fraser CS', 'Szostak JW', 'Ott M', 'Liu TY', 'Tsuchida CA', 'Wright AV', 'Liu JJ', 'Jiang F', '"Ferré-DAmaré AR"', 'Kumar GR', 'Stahl EC', 'Lin-Shiao E', 'Cress BF', 'Cofsky JC', 'Hamilton JR', 'Iavarone AT', 'Kranzusch PJ', 'Batey RT', 'IGI Testing Consortium', 'Burstein D', 'Ehrenberg AJ', 'Oakes BL', 'Arkin AP', '"OConnell MR"', 'Floor SN', 'Mortimer SA', 'Doherty EA', 'Soczek KM', 'Son S', 'Bhuiya A', 'Switz NA', 'Armstrong M', 'Harris AR', 'Smock DCJ', 'Moehle EA', 'Fletcher DA', 'Witkowsky LB', 'Hirsh A', 'Liu DR', 'East-Seletsky A', 'Bai Y', 'Nuñez JK', 'van der Oost J', 'Kidwell MA', 'Ke A', 'MacRae IJ', 'Kieft JS', 'Chen IP', 'Syed AM', 'Khalid MM', 'Pausch P', 'Agrawal S', 'Escajeda AM', 'Prywes N', 'Mok A', 'Kim S', 'Lareau LF', 'Tan MX', 'Hsu PD', 'Chen PY', 'Marson A', 'Lew RJ', 'Pestal K', 'Gildea HK', 'Keller A', 'Urnov FD', 'Ringeisen BR', 'Giannikopoulos P', 'Thornton BW', 'Lobba MJ', 'Wilson RC', 'Watters KE', 'Kornfeld JE', 'Lin S', 'Noland CL', 'Barendregt A', 'Haurwitz RE', 'Coyle SM', 'Hershey JW', 'Cech TR', 'Taha TY', 'Tabata T']

In [ ]:
# Save a list with all co-authors
with open('/content/drive/MyDrive/Pubmed_project/Lists/all_co_authors_Doudna.txt', 'w') as f:
    for item in co_authors:
        f.write("%s\n" % item)

In [ ]:
len(co_authors)

2538

In [ ]:
# Save a list with the 100 top co-authors
folder_path = '/content/drive/MyDrive/Pubmed_project/Lists' 

if not os.path.exists(folder_path):
    os.makedirs(folder_path)

with open('/content/drive/MyDrive/Pubmed_project/Lists' + '/100_topAuthors_Doudna.txt', 'w') as f:
    for item in most_frequent_co_authors:
        f.write("%s\n" % item)

In [ ]:
len(most_frequent_co_authors)

100

#####**Create a single dataframe with all 100 authors, by merging their csvs.**
---

######1. 100 authors, Doudna included 
---

In [ ]:
# create a list of CSV file paths for the most frequent co-authors
co_author_csvs = []
for co_author in most_frequent_co_authors:
    filename = f"{co_author}.csv"
    csv_path = os.path.join(dir_path, filename)
    if os.path.exists(csv_path):
        co_author_csvs.append(csv_path)

In [ ]:
# concatenate the CSV files of all authors into a single dataframe
dfs = []
for csv_path in co_author_csvs:
    df = pd.read_csv(csv_path)
    dfs.append(df)
concatenated_df = pd.concat(dfs)

In [ ]:
len(concatenated_df)

3448

In [ ]:
# save the concatenated dataframe to a new CSV file
#concatenated_df.to_csv('/path/to/concatenated_file.csv', index=False)
# changed the directory to 'Dataframes'

output_path = os.path.join(dir_path, '100_Authors_df_with_Doudna.csv')
concatenated_df.to_csv(output_path, index=False)

######2. 100 authors, Doudna excluded
---

In [ ]:
# extract the co-authors of Doudna JA from each row in the 'Authors' column
co_authors = []
for authors_list in doudna_df['Authors']:
    for author in authors_list.strip('[]').replace("'", "").split(', '):
        if author != 'Doudna JA':
            co_authors.append(author)

# count the frequency of each co-author in the list of co-authors
co_author_counts = Counter(co_authors)

# sort the co-authors by their frequency counts and select the top 100
top_co_authors = co_author_counts.most_common(100)

# create a list of the names of the top co-authors
most_frequent_co_authors = [co_author[0] for co_author in top_co_authors]

print(most_frequent_co_authors)

['Zhou K', 'Knott GJ', 'Nogales E', 'Ma E', 'Sternberg SH', 'Banfield JF', 'Jinek M', 'Harrington LB', 'Cate JH', 'Al-Shayeb B', 'Chen JS', 'Fellmann C', 'Ciling A', 'Savage DF', 'Staahl BT', 'Wiedenheft B', 'Taylor DW', 'Fraser CS', 'Szostak JW', 'Ott M', 'Liu TY', 'Tsuchida CA', 'Wright AV', 'Liu JJ', 'Jiang F', '"Ferré-DAmaré AR"', 'Kumar GR', 'Stahl EC', 'Lin-Shiao E', 'Cress BF', 'Cofsky JC', 'Hamilton JR', 'Iavarone AT', 'Kranzusch PJ', 'Batey RT', 'IGI Testing Consortium', 'Burstein D', 'Ehrenberg AJ', 'Oakes BL', 'Arkin AP', '"OConnell MR"', 'Floor SN', 'Mortimer SA', 'Doherty EA', 'Soczek KM', 'Son S', 'Bhuiya A', 'Switz NA', 'Armstrong M', 'Harris AR', 'Smock DCJ', 'Moehle EA', 'Fletcher DA', 'Witkowsky LB', 'Hirsh A', 'Liu DR', 'East-Seletsky A', 'Bai Y', 'Nuñez JK', 'van der Oost J', 'Kidwell MA', 'Ke A', 'MacRae IJ', 'Kieft JS', 'Chen IP', 'Syed AM', 'Khalid MM', 'Pausch P', 'Agrawal S', 'Escajeda AM', 'Prywes N', 'Mok A', 'Kim S', 'Lareau LF', 'Tan MX', 'Hsu PD', 'Chen PY', 'Marson A', 'Lew RJ', 'Pestal K', 'Gildea HK', 'Keller A', 'Urnov FD', 'Ringeisen BR', 'Giannikopoulos P', 'Thornton BW', 'Lobba MJ', 'Wilson RC', 'Watters KE', 'Kornfeld JE', 'Lin S', 'Noland CL', 'Barendregt A', 'Haurwitz RE', 'Coyle SM', 'Hershey JW', 'Cech TR', 'Taha TY', 'Tabata T', 'Adler BA']

In [ ]:
# create a list of CSV file paths for the most frequent co-authors
co_author_csvs = []
for co_author in most_frequent_co_authors:
    filename = f"{co_author}.csv"
    csv_path = os.path.join(dir_path, filename)
    if os.path.exists(csv_path):
        co_author_csvs.append(csv_path)

# concatenate the CSV files into a single DataFrame
dfs = []
for csv_path in co_author_csvs:
    df = pd.read_csv(csv_path)
    dfs.append(df)
concatenated_df_2 = pd.concat(dfs)

In [ ]:
len(concatenated_df_2)

3122

In [ ]:
# save the concatenated DataFrame to a new CSV file

output_path = os.path.join(dir_path, '100_Authors_df_without_Doudna.csv')
concatenated_df.to_csv(output_path, index=False)

######Double-check the dataframes
---

In [ ]:
concatenated_df

,Unnamed: 0,Paper ID,Authors,Abstract,Author's Order,Number of Authors,Keywords,Title
0,0,36798416,"['Taha TY', 'Chen IP', 'Hayashi JM', 'Tabata T...",Although the SARS-CoV-2 Omicron variant (BA.1)...,18,19,NaN,Rapid assembly of SARS-CoV-2 genomes reveals a...
1,1,36797405,"['Yoon PH', 'Adler BA', 'Doudna JA']",NaN,3,3,NaN,To TnpB or not TnpB? Cas12 is the answer.
2,2,36690762,"['Colognori D', 'Trinidad M', 'Doudna JA']",Robust and precise transcript targeting in mam...,3,3,NaN,Precise transcript targeting by CRISPR-Csm com...
3,3,36656942,"['Wang JY', 'Doudna JA']",The advent of clustered regularly interspaced ...,2,2,NaN,CRISPR technology: A decade of genome editing ...
4,4,36652483,"['Li Z', 'Zhong Z', 'Wu Z', 'Pausch P', 'Al-Sh...",Clustered regularly interspaced short palindro...,7,8,"['CRISPR-CasΦ', 'CasΦ variants', 'DNA methylat...",Genome editing in plants using the compact edi...
...,...,...,...,...,...,...,...,...
17,17,29682593,"['Hanigan TW', 'Danes JM', 'Taha TY', 'Frasor ...",Histone deacetylase (HDAC) catalyzes the remov...,3,5,"['chromatin immunoprecipitation', 'histone dea...",Histone deacetylase inhibitor-based chromatin ...
18,18,29080240,"['Abdelkarim H', 'Neelarapu R', 'Madriaga A', ...",Histone deacetylases (HDACs) are promising dru...,8,11,"['amines', 'antitumor agents', 'epigenetics', ...","Design, Synthesis, Molecular Modeling, and Bio..."
19,19,29045501,"['Hanigan TW', 'Taha TY', 'Aboukhatwa SM', 'Fr...",The mechanism of action of histone deacetylase...,2,5,NaN,Scaffold dependent histone deacetylase (HDAC) ...
20,20,28943357,"['Hanigan TW', 'Aboukhatwa SM', 'Taha TY', 'Fr...",Histone deacetylase (HDAC) catalytic activity ...,3,5,"['breast cancer', 'c-Jun N-terminal kinase', '...",Divergent JNK Phosphorylation of HDAC3 in Trip...
21,21,28835796,"['Taha TY', 'Aboukhatwa SM', 'Knopp RC', 'Ikeg...",Histone deacetylase 8 (HDAC8) is a promising d...,1,11,"['HDAC8', 'Histone deacetylase', 'hydroxamate'...","Design, Synthesis, and Biological Evaluation o..."

In [ ]:
type(concatenated_df)

pandas.core.frame.DataFrame

In [ ]:
concatenated_df.shape

(3448, 8)

In [ ]:
len(concatenated_df)

3448

In [ ]:
concatenated_df

,Unnamed: 0,Paper ID,Authors,Abstract,Author's Order,Number of Authors,Keywords,Title
0,0,36798416,"['Taha TY', 'Chen IP', 'Hayashi JM', 'Tabata T...",Although the SARS-CoV-2 Omicron variant (BA.1)...,18,19,NaN,Rapid assembly of SARS-CoV-2 genomes reveals a...
1,1,36797405,"['Yoon PH', 'Adler BA', 'Doudna JA']",NaN,3,3,NaN,To TnpB or not TnpB? Cas12 is the answer.
2,2,36690762,"['Colognori D', 'Trinidad M', 'Doudna JA']",Robust and precise transcript targeting in mam...,3,3,NaN,Precise transcript targeting by CRISPR-Csm com...
3,3,36656942,"['Wang JY', 'Doudna JA']",The advent of clustered regularly interspaced ...,2,2,NaN,CRISPR technology: A decade of genome editing ...
4,4,36652483,"['Li Z', 'Zhong Z', 'Wu Z', 'Pausch P', 'Al-Sh...",Clustered regularly interspaced short palindro...,7,8,"['CRISPR-CasΦ', 'CasΦ variants', 'DNA methylat...",Genome editing in plants using the compact edi...
...,...,...,...,...,...,...,...,...
17,17,29682593,"['Hanigan TW', 'Danes JM', 'Taha TY', 'Frasor ...",Histone deacetylase (HDAC) catalyzes the remov...,3,5,"['chromatin immunoprecipitation', 'histone dea...",Histone deacetylase inhibitor-based chromatin ...
18,18,29080240,"['Abdelkarim H', 'Neelarapu R', 'Madriaga A', ...",Histone deacetylases (HDACs) are promising dru...,8,11,"['amines', 'antitumor agents', 'epigenetics', ...","Design, Synthesis, Molecular Modeling, and Bio..."
19,19,29045501,"['Hanigan TW', 'Taha TY', 'Aboukhatwa SM', 'Fr...",The mechanism of action of histone deacetylase...,2,5,NaN,Scaffold dependent histone deacetylase (HDAC) ...
20,20,28943357,"['Hanigan TW', 'Aboukhatwa SM', 'Taha TY', 'Fr...",Histone deacetylase (HDAC) catalytic activity ...,3,5,"['breast cancer', 'c-Jun N-terminal kinase', '...",Divergent JNK Phosphorylation of HDAC3 in Trip...
21,21,28835796,"['Taha TY', 'Aboukhatwa SM', 'Knopp RC', 'Ikeg...",Histone deacetylase 8 (HDAC8) is a promising d...,1,11,"['HDAC8', 'Histone deacetylase', 'hydroxamate'...","Design, Synthesis, and Biological Evaluation o..."