<a href="https://colab.research.google.com/github/lavou/ResearchMate/blob/main/5_0_Combined_Embeddings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# In this notebook we combine the word and graph embeddings

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
import pandas as pd
import numpy as np

In [ ]:
dir_path = '/content/drive/MyDrive/Pubmed_project/Dataframes'

In [ ]:
#word_df = pd.read_csv('/content/drive/MyDrive/Pubmed_project/Dataframes/author_word_embeddings.csv')
word_df = pd.read_pickle('/content/drive/My Drive/Pubmed_project/Dataframes/pickle_author_word_embeddings.pkl')
node_df = pd.read_csv('/content/drive/MyDrive/Pubmed_project/Dataframes/Last_node2vec.csv')

In [ ]:
word_df.shape

(51, 3)

In [ ]:
word_df.head()

,Author's Name,Embeddings,Normalized_Embeddings
0,Al-Shayeb B,"[0.026268455112585798, 0.021484058222995372, 0...","[0.07625947706009535, 0.06236998095975932, 0.1..."
1,Barendregt A,"[0.004752037270918663, -0.051108524026858504, ...","[0.019399421845954196, -0.20864226456907436, 0..."
2,Batey RT,"[0.062249840118056454, 0.034736510684979294, 0...","[0.03972427045820143, 0.022166844808073113, 0...."
3,Bhuiya A,"[0.07405559116341465, -0.0765404587472176, 0.0...","[0.028337829182048503, -0.02928867910470235, 0..."
4,Cate JH,"[0.013936735045035675, 0.06166740417856431, 0....","[0.013357756863408723, 0.05910553574800407, 0...."

In [ ]:
# drop the Embeddings col, keep the normalized ones
word_df = word_df.drop(columns=['Embeddings'], axis=1)

In [ ]:
word_df.head()

  Author's Name                              Normalized_Embeddings
0   Al-Shayeb B  [0.07625947706009535, 0.06236998095975932, 0.1...
1  Barendregt A  [0.019399421845954196, -0.20864226456907436, 0...
2      Batey RT  [0.03972427045820143, 0.022166844808073113, 0....
3      Bhuiya A  [0.028337829182048503, -0.02928867910470235, 0...
4       Cate JH  [0.013357756863408723, 0.05910553574800407, 0....

In [ ]:
node_df.shape

(64, 9315)

In [ ]:
word_df.head(2)

  Author's Name                              Normalized_Embeddings
0   Al-Shayeb B  [0.07625947706009535, 0.06236998095975932, 0.1...
1  Barendregt A  [0.019399421845954196, -0.20864226456907436, 0...

In [ ]:
node_df.head()

,Unnamed: 0,Phillips TJ,Piacentino G,Wicklund AB,Wicklund E,Barnes VE,Barnett BA,Kim DH,Kim HS,Bellettini G,...,Marchan R,Ryan DT,Saber R,Reyes H,Rose D,Rosenberg MF,Sanchez-Guerrero E,Yang R,Zhan Y,Sattler SM
0,0,1.344511,1.115870,0.522319,0.557029,1.007622,1.101976,0.621170,0.438670,0.105811,...,0.042321,0.827119,0.804312,0.615185,0.193408,0.006116,-0.152700,0.651502,0.657663,-0.182403
1,1,-0.291456,-0.149140,-1.111118,-1.130751,-0.245401,-0.585893,-0.287559,-0.539451,-0.584320,...,-0.922665,-0.516069,-0.531427,0.668014,0.500724,0.024229,-0.007117,-0.377749,-0.381156,-0.118659
2,2,-0.168883,-0.534681,0.461038,0.600521,0.802285,0.802847,1.072360,1.094911,0.985515,...,0.009107,0.201217,0.188124,1.683016,1.727997,1.405511,1.122148,1.050483,1.024059,0.977477
3,3,0.252316,0.162273,-0.214736,-0.259373,0.222775,0.088356,0.328578,0.549573,1.309394,...,0.553292,-0.173487,-0.186825,0.214489,-0.063676,0.013561,0.016312,1.143785,1.133574,0.101486
4,4,-0.095413,0.008855,0.916190,0.599248,1.008481,0.903509,-0.027406,0.076618,1.484426,...,0.557132,0.662370,0.645075,0.188477,0.782814,0.999997,1.106833,1.067319,1.100024,1.169499

In [ ]:
# Transpose the dataframe so that the authors are rows and values are columns
df_t = node_df.transpose()

# Merge the two values for each author into a list
df_t['node_embeddings'] = df_t.apply(lambda x: x.tolist(), axis=1)

# Reset the index to turn the author names into a column
df_t = df_t.reset_index()

# Rename the columns
df_t = df_t.rename(columns={'index': 'Author'})

# Reshape the dataframe using melt
#df_new = pd.melt(df_t, id_vars=['Author'], value_vars=['node_embeddings'], var_name='Attribute')

# Rename the 'value' column to 'node_embeddings'
#df_new = df_new.rename(columns={'value': 'node_embeddings'})

# Drop the individual value columns (0, 1, ..., 63)
df_new = df_t.drop(columns=[i for i in range(64)])

In [ ]:
# rename
nodes_df = df_new

In [ ]:
nodes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9315 entries, 0 to 9314
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Author           9315 non-null   object
 1   node_embeddings  9315 non-null   object
dtypes: object(2)
memory usage: 145.7+ KB

In [ ]:
# reset the index for both dfs for authors
word_df.set_index("Author's Name", inplace=True)
nodes_df.set_index('Author', inplace=True)

In [ ]:
# join on authors
combined_df = word_df.join(nodes_df, how='inner')

In [ ]:
combined_df.head()

,Normalized_Embeddings,node_embeddings
Al-Shayeb B,"[0.07625947706009535, 0.06236998095975932, 0.1...","[-0.24863271, -0.66020936, -0.3407214, 0.74689..."
Barendregt A,"[0.019399421845954196, -0.20864226456907436, 0...","[-1.0794631, 0.8089011, 0.6455029, -0.00250981..."
Batey RT,"[0.03972427045820143, 0.022166844808073113, 0....","[-0.52939165, 0.39986277, 0.117675126, 0.31100..."
Bhuiya A,"[0.028337829182048503, -0.02928867910470235, 0...","[0.37623093, -0.27395234, 1.0468729, 0.263364,..."
Cate JH,"[0.013357756863408723, 0.05910553574800407, 0....","[-0.1796872, -0.028261252, 0.16866569, 0.64339..."

In [ ]:
len(combined_df)

51

In [ ]:
# Check the dimensions of the first list in the 'Embedding' column
dimensions = len(combined_df.iloc[12]['Normalized_Embeddings'])
print(dimensions)

100

In [ ]:
# save the combined_df as a pickle file
combined_df.to_pickle('/content/drive/My Drive/Pubmed_project/Dataframes/combined_embeddings.pkl')

**Create the final_emb_df where both word and graph embeddings are concatenated, and use this one for all downstream tasks.**

In [ ]:
df = combined_df

In [ ]:
# Concatenate Normalized_Embeddings and node_embeddings using numpy
df['Final_embeddings'] = df.apply(lambda row: np.concatenate((row['Normalized_Embeddings'], row['node_embeddings'])), axis=1)

# Select the desired columns (Author's Name and Final_embeddings)
final_df = df[['Final_embeddings']]

In [ ]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, Al-Shayeb B to Wright AV
Data columns (total 1 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Final_embeddings  51 non-null     object
dtypes: object(1)
memory usage: 2.9+ KB

In [ ]:
# inspect the dimensions of the final embeddings
for index, row in df.iterrows():
    print(f"Final_embeddings shape: {row['Final_embeddings'].shape}")

In [ ]:
# save it into pickle
final_df.to_pickle('/content/drive/My Drive/Pubmed_project/Dataframes/final_embeddings.pkl')